/* Setting global values, colors and fonts*/
:root {
    /*Primary*/

    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);

    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);

    /*Dark theme*/
    
    --darkMode-bg: hsl(230, 17%, 14%);
    --darkMode-bgTop: hsl(232, 19%, 15%);
    --darkMode-Card-BG-blue: hsl(228, 28%, 20%);
    --darkMode-Text: hsl(228, 34%, 66%);
    --darkMode-whiteText: hsl(0, 0%, 100%);

    /*Light theme*/
    --lightMode-bg: hsl(0, 0%, 100%);
    --lightMode-bgTop: hsl(225, 100%, 98%);
    --lightMode-cardBg-grayishBlue: hsl(227, 47%, 96%);
    --lightMode-textGrayish: hsl(228, 12%, 44%);
    --lightMode-VeryDark-text: hsl(230, 17%, 14%);

    --main-font: 'Inter', sans-serif; 
}

body {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;

    color: var(--darkMode-Text);

    background-color: var(--darkMode-bg);


}
/*-----------------------------------------------------*/

/* --Setting the page top layout styles-- */

.align {
    padding: 0 100px;
}

.top__container {
    background-color: var(--darkMode-bgTop);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;


    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: .1rem;
    padding-bottom: 6rem;
}

.container__info--title {
    color: var(--darkMode-whiteText);
}

.container__info--followers {
    margin-top: -1rem;
}

.toggle__container {
    display: flex;
    align-items: center;
    gap: 1rem;

    cursor: default;
}

.toggle__container span {
    font-weight: 700;
}

/*----------------------------------------------------*/


/* --Setting the cards layout styles-- */

.followers {
    display: flex;
    justify-content: space-around;
    gap: 2rem;

    z-index: 1;

    margin-top: -5rem;
}

.followers__card {
    
    background-color: var(--darkMode-Card-BG-blue);
    
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    width: 100%;
    height: 12rem;

}

.followers__card:hover, .overview-card:hover {
    background-color: hsl(228, 28%, 40%);
    cursor: pointer;
}

.followers__card:nth-of-type(1), .followers__card:nth-of-type(2) {
        border-top:4px solid var(--Facebook);
}

.followers__card:nth-of-type(3) {
    border-top: 4px solid transparent;
    border-image: var(--Instagram);
    border-image-slice: 1;
    border-radius: 8px;
}

.followers__card:nth-of-type(3)::before {
  content: "";
  position: relative;
  top: -34px;
  border-radius: 2px 2px 0 0; 
  width: 112%;
  padding: 2px; 
  background: var(--Instagram);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);

     mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);;

  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.followers__card:nth-of-type(4) {
        border-top: 4px solid var(--YouTube);
}

.card__name {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: .4rem;
}

.card__number {
    color: var(--darkMode-whiteText);
    font-size: 3rem;
    margin-top: .6rem;
    margin-bottom: .2rem;
}

.card__description {
    letter-spacing: 2px;

    margin-bottom: .4rem;
}

.card__interactions--number, .card__intecations--day {
    color: var(--Lime-Green);

    font-size: 12px;
    font-weight: 700;
}

.red_text {
    color: var(--Bright-Red);
}

/*Overview section*/

.overview {
    display: grid;
    column-gap: 2rem;
    row-gap: 1.5rem;

    grid-template-columns: repeat(4, 1fr);
}

.overview h2 {
    margin-top: 2rem;
}

.overview-card {
    background-color: var(--darkMode-Card-BG-blue);

    border-radius: 8px;

    display: grid;
    column-gap: 1rem;
    row-gap: .6rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    align-items: center;
    justify-items: center;

    padding: .5rem;
    margin: 0;
    height: 7rem;
}

.overview-card div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.overview-card:nth-of-type(1) {
    grid-column: 1;
}

.overview-card:nth-of-type(2) {
    grid-column: 2;
}

.overview-card:nth-of-type(3) {
    grid-column: 3;
}

.overview-card:nth-of-type(4) {
    grid-column: 4;
}

.overview-card__category, .overview-card__img, .overview-card__number, .overview-card div {
    margin: 0;
    padding: 0;
}

.overview-card__category {
    font-weight: 700;
}

.overview-card__number {
    font-size: 32px;
    color: white;

    align-self: flex-start;
}

.overview-card__img {
    align-self: flex-end;
}